<template>
  <div>
    <div class="list-group">
      <a
        v-for="tag in tags"
        :key="tag.id"
        :href="`/forum/${tag.slug}`"
        class="list-group-item list-group-item-action"
        :class="currentActiveUrl(tag.slug)"
        >{{ tag.name }}</a
      >
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      tags: [],
      currentUrl: "",
    };
  },

  mounted() {
    this.getTags();
  },

  created() {
    this.currentUrl = window.location.pathname;
  },

  methods: {
    async getTags() {
      let response = await axios.get("/forum/tags");
      this.tags = response.data;
    },

    currentActiveUrl(tag) {
      return this.currentUrl == `/forum/${tag}` ? "active" : "";
    },
  },
};
</script>
